// @_import
@import "../_import";

/*==========================================================================
	サイトTOPページ
==========================================================================*/

/*--------------------------------------------------------------------------
  overwrite スタイルの上書き
--------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------
	section_name
--------------------------------------------------------------------------*/

body{
	font-family: $gFontFamily;
	font-size: $gFontSize;
	color: $gFontColor;
	line-height: 1.8;
	text-size-adjust: 100%;
}

